body {
    text-decoration: none;
    margin: 0;
    padding: 0 10px 0 10px;
    background-color: #999;
}
.navbar {
    font-family: 'Poppins', sans-serif;
    padding: 18px 0;
    background: #343436;
    font-family: 'ubuntu',sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
    border-radius: 7px;

}

.max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
}
.menu-btn {
    max-width: 1300px;
    margin: auto;
    cursor: pointer;
    z-index: 999;

}

.menu-btn div {
    width: 25px;
    height: 5px;
    margin: 5px;
    background: #f3c26b;

}
.menu-list {
    position: absolute;
    top: 72px;
    background: #343436;
    width: 100%;
    border-top: 1px solid #999;
    left: -110%;
    transition: all 0.3s ease;
    border-radius: 7px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
}
.menu-list.active {
     left: 0;
}
.menu-list ul{
    padding-left: 0;
    display:flex;
    justify-content:space-around;
    list-style:none;
    align-items:center;
}
.menu-list ul a{
    text-decoration:none;
    color:#f3c26b;
}
.menu-list ul a:hover{
    color:#efefef;
}
.menu-btn:focus .menu-list {
    display:block;
}
.logo {
    font-family: 'Poppins', sans-serif;
    color: #f3c26b;
    font-size: 35px;
    font-weight: 600;
    width: 60%;
    text-align: center;
}
.logo a{
    padding-left:120px;

}
.list-link {
    display: flex;
    justify-content: center;
    margin:auto;
    list-style:none;
    text-align:center;

}
.list-link a {
        text-decoration: none;
        margin-right: 15px;
        display: flex;
        color: #f3c26b;
        height: 50px;
        width: 50px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
}
.list-link a:hover .fa-facebook{
    color:#3b5998;
}
.list-link a:hover .fa-instagram{
    color:#f14843;
}
.list-link a:hover .fa-twitter{
    color:#00acee;
}
.list-link a:hover .fa-youtube{
    color:#f00;
}
/*home*/
.home {
    background-color: #efefef;
    display: flex;
    background: url(./img/back2.jpg) no-repeat center;
    min-height: 500px;
    background-size: cover;
    margin-top: 10px;
    border-radius:7px;
}
.name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.name p{
    font-size:15px;

}
.introduce{
    width:25%;
   text-align:end;
}
p.p-introduce {
    color: #555;
    font-size: 18px;
}
.introduce h1 {
    font-size: 27px;
    color: #343436;
    margin: 0;
}
.introduce span{
    color:#f3c26b;
    font-size: 35px;
}
.cv-div {
    width: 30%;
    padding: 30px;
    background-color: #f3c26b7a;
    border-radius: 7px;
    
}
.cv-div p{
    
}

.download-cv a {
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 144px;
    color: #ffffff;
    background-color:#343436;
    text-align: center;
}
.download-cv a{
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    transition: transform 0.5s cubic-bezier(.18, .78, .37, .84);
  transform-origin: 50% 50%;
  transform: scale(1, 1);

}
.download-cv a:hover{
    background-color:#f3c26b;
    color:#343436;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: scale(1.05, 1.05);

}
/*
.cv-div::after,
.cv-div::before{
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 50px;
      align-content: center;;
      background-color: #343436;
      transition: width 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      bottom: 0;
}
.cv-div::after{
    left: 50%;
}
.cv-div::before{
    right:  50%;
}
.cv-div:hover::after,
.cv-div:hover::before{
    width: 50%;
}
*/
.img-home {
    
}
.img-home img {
    width: 460px;
    padding-top: 77px;
    transition: 1s;

}
/*skill*/
.skills{
     font-family: 'Poppins', sans-serif;
         margin-bottom: 50px;
}
.titles {
    height: 100px;
    text-align: center;
    background: #ECECEC;
    margin-top: 10px;
    border-radius: 7px;
    box-shadow: 0 3px 3px 0 rgba( 1,2,2,0.05);
}
.title{
    font-size: 65px;
    height: 90%;
    color:#999;
    padding-left: 15px;
    position: relative;
    letter-spacing: 5px;
}
.title:hover{
    color:#f3c26b;
    transition: 1s ease-in;
}
.title::after,
.title::before{
      content: '';
      display: block;
      position: absolute;
      height: 5px;
      width: 100px;
      align-content: center;;
      background-color: #999;
      transition: width 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      bottom: 0;
}
.title::after{
    left: 50%;
}
.title::before{
    right:  50%;
}
.title:hover::after,
.title:hover::before{
    width: 49%;
    background-color:#f3c26b;
    transition: 1s ease-in;
}
.title:hover{
   letter-spacing: 0px;
   transition: 0.8s;
}
.skill {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.skill-box {
    height: 555px;
    width: 49%;
}
.skill-box-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.skill-box-2{
    display: flex;
    align-items: center;
}
.skill-box-list {
    background-color:#ECECEC ;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 7px;
    width: 100%;
    height: 95%;
     position: relative;
      overflow-x:hidden;
}
.skill-box-list ul li{
    font-size: 18px;
        font-weight: 700;
        color: #555;
        margin: 0;
}
.ui-ux-box {
    
}
h2{
    text-align: center;
    color:#999;
    margin: 10px;
}
h2:hover{
    color:#f3c26b;
}
.wrapper{
        width: 80%;
        font-family: 'Roboto', sans-serif;
        margin:0 auto;
}
.skill-1 {
        margin-bottom: 35px;
        position: relative;
         overflow-x:hidden;
            
 }
.skill-1  p {
        font-size: 18px;
        font-weight: 700;
        color: #555;
        margin: 0;
}
.skill-1:before{
        width: 100%;
        height: 5px;
        content: "";
        display: block;
        position: absolute;
        background: #959595;
        bottom: 0;
}
.skill-bar {
        width: 100%;
        height: 5px;
        background:#f3c26b;
        display: block;
        position: relative;
}

    /* SKILL 1 */
.skill1{
        width: 80%;
            
}
.skill-bar span{
        position: absolute;
        border-top: 5px solid #f4392f;
        top: -30px;
        padding: 0;
        font-size: 18px;
        padding: 3px 0;
        font-weight: 500;
}

.skill-bar {
        position: relative;
            
}

    /* SKILL 2 */
.skill2{
        width: 75%;
}

    /* SKILL 3 */
.skill3{
        width: 50%;
}
.skill4{
        width: 70%;
}
.skill5{
        width: 70%;
 }
.skill6{
        width: 65%;
 }

 /*experience*/

.experience{
     font-family: 'Poppins', sans-serif;
     color: #343436;
}

.titles-2{
    height: 105px;
    text-align: center;
    background: #343436;
    margin-top: 10px;
    border-radius: 7px;
    box-shadow: 0 3px 3px 0 rgba( 1,2,2,0.05);
}
.title-2{
    font-size: 65px;
    height: 90%;
    color:#f3c26b;
    padding-left: 15px;
    position: relative;
    letter-spacing: 5px;
}
.title-2:hover{
    letter-spacing: 0;
    color:#999;
    transition: 1s ease-in;
}

.experience-div{
    margin:50px auto;
    padding-right:50px;
    margin-bottom: 100px;
}
.experience ul li i{
    font-size: 15px;
}
.experience img{
    width: 80px;
    margin-bottom: 20px;
}
.experience-div ul{
    text-align:center;
    list-style:none;
    margin: 0;
    padding: 0;


}
.experience-div ul li{
    display: inline-block;
    width:190px;
    position: relative;
}
.experience-div i{
    color:#343436;
    font-size: 100px;
    
}
.experience-div ul li .fa,
.experience-div ul li .fas{
    background: #ccc;
    width:15px;
    height:15px;
    color:#fff;
    border-radius: 50%;
    padding:5px;
}
.experience-div ul li .fa::after,
.experience-div ul li .fas::after{
    content: "";
    background: #ccc;
    height: 5px;
    width:205px;
    display: block;
    position: absolute;
    left: 0;
    top:117px;
    z-index: -1;
}
.experience-div ul li .fa{
    background: #f3c26b;
}
.experience-div ul li .fa::after{
    background: #f3c26b;
}
.experience-div ul li:nth-child(3) .fas{
    background: #f3c26b;
}
.experience-div ul li:nth-child(3) .fas::after{
    background: #f3c26b;
}
.experience-div ul li:nth-child(1) .fa::after{
    width: 105px;
    left: 100px;
}
.list-experience{
    height: 300px;
    background: #ECECEC;
    border-radius: 7px;
    position: relative;
}
.list-experience-2{
    height: 300px;
    background: #ECECEC;
    border-radius: 7px;
    position: relative;
}
.list-experience::before,
.list-experience-2::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ECECEC;
    top: -9px;
    left: 80px;
    z-index: -1;
}
.list-experience p, 
.list-experience-2 p{
    height: 79%;
    overflow: auto;
    margin: 0;
    padding-right: 7px;
    padding-left: 7px;
}
/*hobbies*/
.contact-hobbies{
     font-family: 'Poppins', sans-serif;
    background: #343436;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
     border-radius: 7px;
}
.contact-hobbies::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #f3c26b;
}
.container{
    position: relative;
    min-height: 550px;
    min-width: 1100px;
    display: flex;
    z-index: 1000;
}
.title-3 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    color: #343436;
    margin-top: 4px;
    margin-bottom: 20px;
}
.sub-title {
    color: #343436;
}

.contact-content{
   
}

.contact-content .culumn {
    width: calc(50%-30px);
}
.culumn .icons{
    margin:10px 0;
}
.contact-content .row{
    display:flex;
    height:60px;
    align-items:center;
}
.contact-content .row .info{
    margin-left:30px;
}
.contact-content .row i {
        font-size: 25px;
        color: #343436;
}

.contactinfo {
    position: absolute;
    top: 50px;
    width: 350px;
    height: calc(100% - 197px);
    background: #f3c26b;
    z-index: 1;
    padding: 40px;
    border-radius: 7px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.5);
}
.list-link-contact {
    display: flex;
    justify-content: center;
    margin:auto;
    padding-top:5px; 
    list-style:none;
    text-align:center;

}
.list-link-contact a {
        text-decoration: none;
        margin-right: 10px;
        margin-top: 5px;
        display: flex;
        color: #343436;
        height: 50px;
        width: 50px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
}
.list-link-contact i{
        font-size: 20px;
}
.list-link-contact a:hover .fa-facebook{
    color:#3b5998;
}
.list-link-contact a:hover .fa-instagram{
    color:#f14843;
}
.list-link-contact a:hover .fa-twitter{
    color:#00acee;
}
.list-link-contact a:hover .fa-youtube{
    color:#f00;
}
.hobbies {
    position: absolute;
    padding: 70px 50px;
    background:#ffffff;
    margin-left: 150px;
    padding-left: 281px;
    width: calc(100% - 499px);
    height: 401px;
    border-radius: 7px;
    box-shadow: 0 40px 60px rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-hobbies{
        flex-basis: 45%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    height: 140px;
}
.p-b-hobbies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 60%;
}
.text-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#f3c26b;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s ease-in;
}
.p-hobbies:hover .text-overlay{
    opacity: 1;
}
img.img-hobbies{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 7px;
}
img.icon-hobbies {
    padding-top: 20px;
}
.h2-hobbies{
    writing-mode: vertical-lr;
    transform: rotate(360deg);
    letter-spacing: 4.5px;
    cursor: default;
    height: 100%;
}
.h2-hobbies::after,
.h2-hobbies::before{
      content: '';
      display: block;
      position: absolute;
      height: 100px;
      width: 3px;
      align-content: center;;
      background-color: #999;
      transition: height 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      bottom: 0;
}
.h2-hobbies::after{
    top: 50%;
}
.h2-hobbies::before{
   bottom:  50%;
}
.h2-hobbies:hover::after,
.h2-hobbies:hover::before{
    height: 60%;
    background-color: #f3c26b;
    transition:0.8s ease-in;
}
.h2-hobbies:hover{
   letter-spacing: 0px;
   transition: 0.8s;
}
/*copyright*/
.copyright {
    
    height: 30px;
    text-align: center;
    padding-top: 10px;
    background: #888;
    border-radius: 7px;
}
.copyright i{
    color:#343436;
}
.copyright span{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    
}
.copyright-span:hover{
     color:#f3c26b;
     cursor: pointer;
}



/*Scoll*/
.scroll-up {
     font-family: 'Poppins', sans-serif;
    position: fixed;
    bottom: 55px;
    right: 30px;
    color: black;
    cursor: pointer;
    z-index: 10;
    /*display: none;*/
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    z-index: 9999;
}
.scroll-up .top-one {
    display: block;
    height: 30px;
    margin-bottom: 5px;
    width: 1px;
    background: black;
    margin-left: 12px;
}
.scroll-up .top-two {
    text-orientation: mixed;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    white-space: nowrap;
    transform: rotate(180deg);
}
.scroll-up .top-three {
    display: block;
    height: 0px;
    margin-bottom: 5px;
    width: 1px;
    background: black;
    margin-left: 12px;
}
.scroll-up:hover .top-one {
    height: 0px;
     transition: 0.5s;
}
.scroll-up:hover .top-two {
    color: white;
     transition: 0.5s;
}

.scroll-up:hover .top-two {
    color: white;
     transition: 0.5s;
}
.scroll-up:hover .top-three {
    background: white;
     transition: 0.5s;
}
.scroll-up:hover .top-three {
    height: 30px;
    background: white;
    transition: 0.5s;
}



@media (max-width:980px){
 .name{
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: space-evenly;
 }
 .name p {
    font-size: 22px;
}
 .p-introduce{
    display:none;
 }
 .introduce {
    width: 100%;
    height: 35%;
    text-align: center;
    z-index: 999;
}
.img-home img {
    width: 100%;
    padding-top: 77px;
    transition: 1s;
    position: absolute;
    bottom: 0;
    left: 0;
}
.cv-div {
    /* top: 50px; */
    height: 300px;
    width: 80%;
    padding: 30px;
    background-color: #f3c26b7a;
    border-radius: 7px;
    z-index: 99;
}
.introduce h1 {
    font-size: 129px;
    color: #343436;
    margin: 0;
}
.introduce span {
    color: #f3c26b;
    font-size: 65px;
}
.list-link{
    display: none;
}
.max-width {
    display: flex;
    justify-content: unset;
    height: 100px;
}
.logo {
    font-family: 'Poppins', sans-serif;
    color: #f3c26b;
    font-size: 45px;
    font-weight: 600;
    /* width: 60%; */
    text-align: end;
    padding: 0 30px;
    width: 100%;
}
.menu-btn {
    max-width: 1300px;
    margin: auto;
    margin: 0 30px;
    cursor: pointer;
    z-index: 999;
}
.menu-btn div {
    width: 39px;
    height: 10px;
    margin: 5px;
    background: #f3c26b;
}
.menu-list {
    top: 128px;
    width: 100%;
    height: 500px;
    z-index: 1000;
}
.menu-list ul {
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    list-style: none;


}
.menu-list ul a {
    text-decoration: none;
    color: #f3c26b;
    font-size: 45px;
}
.skill{
    display: block;
    height: 100%;
}
.skill-box {
    height: 750px;
    width: 98%;
}
h2 {
    text-align: center;
    color: #999;
    margin: 30px;
    font-size: 35px;
}
.experience-div ul li {
    display: contents;
}
.experience img {
    width: 150px;
    margin: 20px;
}
.experience-div ul li .fa ,
.experience-div ul li .fas{
    font-size: 43px;
}
.experience-div ul li .fa, .experience-div ul li .fas {
    height: 50px;
    width: 50px;
   
}
.list-experience p, 
.list-experience-2 p {

    font-size: 31px;
   
}
.experience-div {
  
    padding-right: 0;

}
.list-experience {
    height: 400px;
    
}
.skill-box-list ul li {
    font-size: 25px;
   
}
.skill-1 p {
    font-size: 25px;
}
.scroll-up {
    font-size: 30px;
    }
    .scroll-up .top-one {
    height: 58px;
    width: 2px;
    margin-left: 26px;
}
.scroll-up .top-three {
    height: 0px;
    margin-bottom: 5px;
    width: 2px;
    margin-left: 26px;
}
.scroll-up:hover .top-three {
    height: 58px;
}


.copyright {
    height: 70px;
    text-align: center;
    padding-top: 31px;
    background: #888;
    border-radius: 7px;
}
.copyright span {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
}
}






/*media*/
@media (max-width:1050px) {

  .container {
    position: relative;
    min-width: 900px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}
.contactinfo {
    position: relative;
    margin: 30px;
    margin-bottom: 50px;
    width: 80%;
    top: 0;
 }   

.hobbies {
    position: relative;
    padding: 50px;
    margin: 50px;
    width: 78%;
    height: 500px;
    display: block;
    
}
.p-b-hobbies {
    width: 100%;
}
.p-hobbies {
    
    height: 181px;
}
.h2-hobbies {
     padding-top: 20px;
     writing-mode: unset;
     height: 0;
    
 
}
.h2-hobbies::after,
.h2-hobbies::before{
    display: none;
}

}
