body {
    text-decoration: none;
    margin: 0;
    padding: 0 10px 0 10px;
    background-color: #999;
    box-sizing: border-box;
    overflow-x: hidden;
}
.navbar {
    font-family: 'Poppins', sans-serif;
    padding: 18px 0;
    background: #343436;
    font-family: 'ubuntu',sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
    border-radius: 7px;

}

.max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
}
.menu-btn {
    max-width: 1300px;
    margin: auto;
    cursor: pointer;
    z-index: 999;

}

.menu-btn div {
    width: 25px;
    height: 5px;
    margin: 5px;
    background: #f3c26b;

}
.menu-list {
    position: absolute;
    top: 72px;
    background: #343436;
    width: 100%;
    border-top: 1px solid #999;
    left: -110%;
    transition: all 0.3s ease;
    border-radius: 7px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
}
.menu-list.active {
     left: 0;
}
.menu-list ul{
    padding-left: 0;
    display:flex;
    justify-content:space-around;
    list-style:none;
    align-items:center;
}
.menu-list ul a{
    text-decoration:none;
    color:#f3c26b;
}
.menu-list ul a:hover{
    color:#efefef;
}
.menu-btn:focus .menu-list {
    display:block;
}
.logo {
    font-family: 'Poppins', sans-serif;
    color: #f3c26b;
    font-size: 35px;
    font-weight: 600;
    width: 60%;
    text-align: center;
}
.logo a{
    padding-left:120px;

}
.list-link {
    display: flex;
    justify-content: center;
    margin:auto;
    list-style:none;
    text-align:center;

}
.list-link a {
        text-decoration: none;
        margin-right: 15px;
        display: flex;
        color: #f3c26b;
        height: 50px;
        width: 50px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
}
.list-link a:hover .fa-facebook{
    color:#3b5998;
}
.list-link a:hover .fa-instagram{
    color:#f14843;
}
.list-link a:hover .fa-twitter{
    color:#00acee;
}
.list-link a:hover .fa-youtube{
    color:#f00;
}
